In [5]:
import pandas as pd

#Dataframe (df)
df = pd.read_csv("../data/processed/xau_daily.csv", sep=";")

In [6]:
#This prints the first 5 rows
print(df.head())

               Date   Open   High    Low  Close  Volume
0  2004.06.11 00:00  384.0  384.8  382.8  384.1     272
1  2004.06.14 00:00  384.3  385.8  381.8  382.8    1902
2  2004.06.15 00:00  382.8  388.8  381.1  388.6    1951
3  2004.06.16 00:00  387.1  389.8  382.6  383.8    2014
4  2004.06.17 00:00  383.6  389.3  383.0  387.6    1568

In [7]:
print(df.tail())

                  Date     Open     High      Low    Close  Volume
5435  2025.09.25 00:00  3736.80  3761.72  3721.75  3748.82  443032
5436  2025.09.26 00:00  3749.85  3783.77  3734.50  3760.10  392151
5437  2025.09.29 00:00  3759.47  3834.05  3756.58  3833.28  494753
5438  2025.09.30 00:00  3832.81  3871.61  3792.98  3858.15  522111
5439  2025.10.01 00:00  3859.31  3875.57  3854.53  3865.88   47836

In [8]:
print(df.dtypes)

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [9]:
#Converting date (object) to datetime 
df["Date"] = pd.to_datetime(df["Date"])

In [24]:
print(df.dtypes)

Open       float64
High       float64
Low        float64
Close      float64
Volume       int64
Returns    float64
dtype: object

In [11]:
#Setting data as the index
df = df.set_index('Date')

In [12]:
df.sort_index

<bound method DataFrame.sort_index of                Open     High      Low    Close  Volume
Date
2004-06-11   384.00   384.80   382.80   384.10     272
2004-06-14   384.30   385.80   381.80   382.80    1902
2004-06-15   382.80   388.80   381.10   388.60    1951
2004-06-16   387.10   389.80   382.60   383.80    2014
2004-06-17   383.60   389.30   383.00   387.60    1568
...             ...      ...      ...      ...     ...
2025-09-25  3736.80  3761.72  3721.75  3748.82  443032
2025-09-26  3749.85  3783.77  3734.50  3760.10  392151
2025-09-29  3759.47  3834.05  3756.58  3833.28  494753
2025-09-30  3832.81  3871.61  3792.98  3858.15  522111
2025-10-01  3859.31  3875.57  3854.53  3865.88   47836

[5440 rows x 5 columns]>

In [28]:
#Going to see how many null values are in each column
df.isna().sum()

Open       0
High       0
Low        0
Close      0
Volume     0
Returns    1
dtype: int64

In [14]:
#Adds a new column that tracks changes in returns day over day
df["Returns"] = df["Close"].pct_change()

In [25]:

print(df[[ 'Close', 'Returns']].head(10))

            Close   Returns
Date
2004-06-11  384.1       NaN
2004-06-14  382.8 -0.003385
2004-06-15  388.6  0.015152
2004-06-16  383.8 -0.012352
2004-06-17  387.6  0.009901
2004-06-18  394.3  0.017286
2004-06-21  393.1 -0.003043
2004-06-22  394.1  0.002544
2004-06-23  395.6  0.003806
2004-06-24  401.1  0.013903

In [29]:
#just filling in the NA values
df.dropna(inplace =True)

In [30]:
#checking how the NA values look
print(df[['Close', 'Returns']].head(10))

            Close   Returns
Date
2004-06-14  382.8 -0.003385
2004-06-15  388.6  0.015152
2004-06-16  383.8 -0.012352
2004-06-17  387.6  0.009901
2004-06-18  394.3  0.017286
2004-06-21  393.1 -0.003043
2004-06-22  394.1  0.002544
2004-06-23  395.6  0.003806
2004-06-24  401.1  0.013903
2004-06-25  401.1  0.000000

In [31]:
#Calculating a simple moving average with a window of 20 days
df["sma_20"] = df["Close"].rolling(window=20).mean()

In [39]:
#Checking how the simple moving average looks
print(df.head(30))

             Open   High    Low  Close  Volume   Returns   sma_20
Date
2004-06-14  384.3  385.8  381.8  382.8    1902 -0.003385      NaN
2004-06-15  382.8  388.8  381.1  388.6    1951  0.015152      NaN
2004-06-16  387.1  389.8  382.6  383.8    2014 -0.012352      NaN
2004-06-17  383.6  389.3  383.0  387.6    1568  0.009901      NaN
2004-06-18  388.6  395.8  385.8  394.3    2257  0.017286      NaN
2004-06-21  394.3  396.8  392.1  393.1    1674 -0.003043      NaN
2004-06-22  392.8  396.3  392.3  394.1    1407  0.002544      NaN
2004-06-23  394.0  396.6  392.3  395.6    1829  0.003806      NaN
2004-06-24  394.0  402.8  393.1  401.1    1991  0.013903      NaN
2004-06-25  402.0  402.8  400.1  401.1    1608  0.000000      NaN
2004-06-28  401.8  404.6  398.8  399.8    2124 -0.003241      NaN
2004-06-29  399.8  400.5  390.3  391.3    2175 -0.021261      NaN
2004-06-30  391.5  396.3  391.1  393.3    2131  0.005111      NaN
2004-07-01  391.6  395.8  391.5  395.0    1736  0.004322      NaN
2004-07-02  395.1  399.8  391.3  397.8    1516  0.007089      NaN
2004-07-06  397.8  398.8  388.5  392.1    1008 -0.014329      NaN
2004-07-07  394.1  403.1  394.1  401.8     792  0.024739      NaN
2004-07-08  401.8  408.6  399.3  407.3     914  0.013688      NaN
2004-07-09  407.3  407.8  405.0  407.1     793 -0.000491      NaN
2004-07-12  407.3  408.3  405.0  406.6     866 -0.001228  395.710
2004-07-13  407.1  407.3  399.6  403.1    1589 -0.008608  396.725
2004-07-14  400.8  405.8  400.8  404.8     990  0.004217  397.535
2004-07-15  404.3  405.1  400.8  403.1    1900 -0.004200  398.500
2004-07-16  403.1  407.1  401.8  406.1     882  0.007442  399.425
2004-07-19  405.5  407.5  403.8  404.8     858 -0.003201  399.950
2004-07-20  405.0  406.3  398.6  400.8    1707 -0.009881  400.335
2004-07-21  399.3  401.6  393.8  396.1    1908 -0.011727  400.435
2004-07-22  396.0  397.8  392.8  393.3    1907 -0.007069  400.320
2004-07-23  394.3  395.0  386.5  389.3    1899 -0.010170  399.730
2004-07-26  389.3  392.1  388.1  389.8    1992  0.001284  399.165